<%= render "shared/sidebar" %>
<%= render "shared/rightsidebar" %>
<%= render "shared/navbar" %>

<div class='content'> 
  <% @blog_posts.each do |blog_post| %>
    <div class='post'>
      <h3 class='title'><%= blog_post.Title %></h3>
      <p class='date'><%= blog_post.updated_at.to_date.to_s(:long) %></p>
      <p class='post_content'><%= blog_post.Content.html_safe %></p>
    </div>
  <% end %>
</div>
