<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog_post.Title %>
</p>

<p>
  <b>Content:</b>
  <%= @blog_post.Content %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
