<div class='header'>
  <div class='logo'>
   <%= image_tag("wirebirdname_white.png") %>
  </div>
  <div class='menu'>
    <ul>
      <li><a href='<%= blog_posts_path; %>'>BLOG</a></li>
      <li><a href='<%= music_path; %>'>MUSIC</a></li>
      <li><a href='<%= photos_path; %>'>PHOTOS</a></li>
      <li><a href='<%= contact_path; %>'>CONTACT</a></li>
    </ul>
    <%= image_tag("menu-seperator.png") %>
  </div>
</div>