<%= render "shared/sidebar" %>
<%= render "shared/rightsidebar" %>
<%= render "shared/navbar" %>

<div class="content">
  <div class="gallery">
      <% @photos.each() do |photo| %>
        <% info = flickr.photos.getInfo(:photo_id => photo.id)%>
        <%= image_tag(FlickRaw.url_b(info)) %>
        <%= image_tag(FlickRaw.url_b(info)) %>
      <% end %>
  </div>
</div>
